absl-py==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.11" and python_version < "3.12"
audioread==3.0.1 ; python_version >= "3.11" and python_version < "3.12"
certifi==2024.2.2 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
contourpy==1.2.1 ; python_version >= "3.11" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.12"
cython==3.0.10 ; python_version >= "3.11" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.11" and python_version < "3.12"
filelock==3.14.0 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
fonttools==4.51.0 ; python_version >= "3.11" and python_version < "3.12"
fsspec==2024.3.1 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
grpcio==1.63.0 ; python_version >= "3.11" and python_version < "3.12"
h5py==3.11.0 ; python_version >= "3.11" and python_version < "3.12"
hydra-core==1.3.2 ; python_version >= "3.11" and python_version < "3.12"
idna==3.7 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.1.4 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
joblib==1.4.2 ; python_version >= "3.11" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.11" and python_version < "3.12"
lazy-loader==0.4 ; python_version >= "3.11" and python_version < "3.12"
librosa==0.10.2 ; python_version >= "3.11" and python_version < "3.12"
llvmlite==0.42.0 ; python_version >= "3.11" and python_version < "3.12"
markdown==3.6 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "3.12"
matplotlib==3.8.4 ; python_version >= "3.11" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
msgpack==1.0.8 ; python_version >= "3.11" and python_version < "3.12"
networkx==3.3 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
numba==0.59.1 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.12"
omegaconf==2.3.0 ; python_version >= "3.11" and python_version < "3.12"
packaging==24.0 ; python_version >= "3.11" and python_version < "3.12"
pillow==10.3.0 ; python_version >= "3.11" and python_version < "3.12"
platformdirs==4.2.1 ; python_version >= "3.11" and python_version < "3.12"
pooch==1.8.1 ; python_version >= "3.11" and python_version < "3.12"
praat-parselmouth==0.4.3 ; python_version >= "3.11" and python_version < "3.12"
protobuf==5.26.1 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.11" and python_version < "3.12"
pyreaper==0.0.10 ; python_version >= "3.11" and python_version < "3.12"
pysptk==0.2.2 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.12"
pyworld @ git+https://github.com/JeremyCCHsu/Python-Wrapper-for-World-Vocoder.git@fa84b8bd224d465594b211d78446a26dc6d96173 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.12"
scikit-learn==1.4.2 ; python_version >= "3.11" and python_version < "3.12"
scipy==1.13.0 ; python_version >= "3.11" and python_version < "3.12"
setuptools==69.5.1 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
soundfile==0.12.1 ; python_version >= "3.11" and python_version < "3.12"
soxr==0.3.7 ; python_version >= "3.11" and python_version < "3.12"
sympy==1.12 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
tensorboard-data-server==0.7.2 ; python_version >= "3.11" and python_version < "3.12"
tensorboard==2.16.2 ; python_version >= "3.11" and python_version < "3.12"
threadpoolctl==3.5.0 ; python_version >= "3.11" and python_version < "3.12"
torch==2.1.2+cu121 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
torchaudio==2.1.2+cu121 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
torchvision==0.16.2+cu121 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
tqdm==4.66.4 ; python_version >= "3.11" and python_version < "3.12"
triton==2.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12" and (sys_platform == "linux" or sys_platform == "win32" or sys_platform == "darwin")
typing-extensions==4.11.0 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.11" and python_version < "3.12"
werkzeug==3.0.3 ; python_version >= "3.11" and python_version < "3.12"
